[defaults]
inventory = inventory/hosts.ini
remote_user = redis
host_key_checking = False
retry_files_enabled = False
private_key_file = /home/dz-fedora/workspace/JavaLearning/.ssh/id_rsa
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null